[Unit]
Description=Raspberry Pi WiFi configuration service.

[Service]
Type=simple
ExecStart=/usr/bin/python3 /opt/rpi-wifi-config/startup.py

[Install]
WantedBy=multi-user.target
