
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="Refresh" content="{{ redirect_interval }}; url={{ redirect_url }}" />

    <title>WiFi Connection</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/floating-labels.css" rel="stylesheet">
  </head>

  <body>
      <div class="text-center mb-4">
<!--         <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
 -->
       <h1 class="h3 mb-3 font-weight-normal">WiFi Connection</h1>
        {% if message %}<p>{{ message|safe }}</p>{% endif %}
      </div>
  </body>
